{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5">
    <h1>게시글 수정</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label">Subject</label>
            <input type="text" name="subject" value="{{con.subject}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Writer</label>
            <input type="text" disabled value="{{con.writer}}" class="form-control" id="exampleInputPassword1">
        </div>
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Content</label>
            <textarea name="content" class="form-control">{{ con.content }}</textarea>
        </div>
        <div class="text-end mt-3">
            <button type="submit" class="btn btn-success">수정</button>
        </div>
    </form>
</div>


{% endblock %}